<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale = 1.0">
	<title>Backend Practice</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<script type="text/javascript"></script>

</head>
<body>
	<div class="container">
		<h3>Data Entries - working yet 11:40</h3>
		<form method="post">
			<label>
				Title: 
				<input type="text" name = "title" value="{{title}}">
			</label><br>
			<label>
				Content: 
				<textarea name = "content">{{content}}</textarea>
			</label>
			<br>
			<div class = "error">{{error}}</div>
			<input type = "submit">
		</form>
		<hr>
	</div>
</body>
</html>

<!---
<body>
	<div class = "container">
		<h2>Blog Form </h2>
		<form method = "post">
			<label>
				<h3>Title</h3>
				<input name = "title" value="{{title}}">
			</label>
			<label>
				<h3 >Art</h3>
				<textarea name= "art">{{art}}</textarea>
			</label>
			<br>
			<div class = "error">{{error}}</div>
			<label>
				<input type = "submit" value= "Enter!">
			</label>
		</form>
		<hr>
	</div>
</body>
</html>
-->